blockquote {
    margin: 0;
    padding: 0;
}

BODY, TD, input, TEXTAREA, center, pre, blockquote {
    font-family: 굴림;
    color: #333333;
    word-break: break-all;
}

select, option {
    font-size: 12px;
    font-family: tahoma;
    color: #333333;
    background-color: #ffffff
}

A:link {
    color: #333333;
    text-decoration: none
}

A:visited {
    color: #333333;
    text-decoration: none
}

A:active {
    color: #333333;
    text-decoration: none
}

A:hover {
    color: #333333;
    text-decoration: none
}

.textarea {
    border: 1px solid #c9c9c9;
    font-size: 12px;
    color: #333333;
    background-color: #ffffff;
    padding: 5px;
    line-height: 185%
}

.input {
    border: 1px solid #cacaca;
    font-size: 12px;
    color: #252525;
    background-color: #ffffff;
    padding: 3px
}

.input2 {
    border: 1px solid #c9c9c9;
    font-size: 12px;
    color: #252525;
    background-color: #ffffff;
    padding: 3px
}

.submit {
    border: 0px solid #606060;
    font-size: 12px;
    color: #ffffff;
    background-color: #afafaf;
    height: 22px;
    padding: 2px 0 0 0;
    line-height: 16px
}

.submit_w {
    border: 1px solid #606060;
    font-size: 12px;
    color: #dfdfdf;
    background-color: #909090;
    height: 40px;
    font-weight: bold
}

.submit_c {
    border: 1px solid #cccccc;
    font-size: 12px;
    color: #585858;
    background-color: #e5e5e5
}

.button {
    border: 1px solid #606060;
    font-size: 12px;
    color: #dfdfdf;
    background-color: #909090;
    height: 40px;
    line-height: 16px
}

.line_separator {
    background-color: #f0f0f0;
    padding: 0px
}

.line_shadow {
    background-color: #f3f3f3;
    padding: 0px
}

.line_dark {
    background-color: #c0c0c0;
    padding: 0px
}

.list_notice {
    background-color: #f8f8f8;
    padding: 0;
}

.notice_separator {
    background-color: #e2e2e2;
    padding: 0px
}

.lined {
    background-color: #f0f0f0;
    border-top: 1px solid #f5f5f5;
    height: 1px;
}

.list0 {
    background-color: #ffffff;
    padding: 0;
}

.list1 {
    background-color: #fdfdfd;
    padding: 0;
}

.title {
    background-image: url(bg_title.gif);
    background-repeat: repeat-x
}

.title_text {
    cursor: pointer;
    color: #333333;
    text-decoration: none;
    font-size: 11px;
    width: 100%;
    font-family: 돋움;
    filter: dropshadow(color=#FFFFFF, offX=1, offY=1, positive=1);
}

.separator1 {
    background-color: #f2f2f2;
    padding: 0px
}

.separator2 {
    background-color: #f5f5f5;
    padding: 0px
}

.mmp {
    font-family: tahoma;
    color: #909090;
    font-size: 11px;
    text-decoration: none
}

.bt {
    font-family: tahoma;
    color: #bfbfbf;
    font-size: 10px;
    text-decoration: none
}

.pic_bg {
    background-color:
}

.pic_border {
    border: 1px solid #606060px
}

.thumb_area_bg {
    background-color: #ffffff
}

.thumb_border {
    border: 1px solid #d0d0d0px
}

.exif_bg {
    background-color: #ffffff;
    font-family: Georgia, tahoma, 돋움, 굴림;
    font-size: 11px
}

.exif_spacer {
    color: #ebebeb;
    font-size: 12px;
    text-decoration: none
}

._contents {
    height: 100%;
}

.info_bg {
    font-size: 12px;
    margin: 15px;
}

.han {
    color: #333333;
    font-size: 12px;
    text-decoration: none;
    font-family: 굴림, gulim;
    line-height: 185%
}

.han2 {
    color: #333333;
    font-size: 12px;
    text-decoration: none;
    font-family: 굴림, gulim;
    line-height: 185%
}

.han3 {
    color: #333333;
    font-size: 11px;
    text-decoration: none;
    font-family: 굴림, gulim;
    line-height: 185%
}

.eng {
    font-family: Verdana;
    color: #333333;
    font-size: 11px;
    letter-spacing: 0px;
    text-decoration: none
}

.list_title {
    color: #333333;
    font-size: 12px;
    text-decoration: none;
}

.view_title {
    color: #909090;
    font-size: 12pt;
    font-weight: bold;
    text-decoration: none;
    font-family: 굴림
}

.view_title2 {
    color: #909090;
    font-size: 10pt;
    font-weight: bold;
    text-decoration: none;
    font-family: 굴림
}

.view_name {
    color: #333333;
    font-size: 12px;
    text-decoration: none;
    font-family: 굴림
}

.view_cate {
    color: #959595;
    font-size: 12px;
    text-decoration: none;
    font-family: 굴림
}

.wArticle {
    color: #606060;
    font-size: 12pt;
    font-weight: bold;
    text-decoration: none;
    font-family: 굴림
}

.ce_bg {
    background-color: #F9F9F9;
    border: 1px solid #b0b0b0px
}

.list_comment {
    color: #606060;
    background-color: #f0f0f0;
    font-size: 11px;
    font-family: tahoma
}

.list_comment2 {
    color: #404040;
    background-color: #f0f0f0;
    font-size: 11px;
    font-family: tahoma;
    font-weight: bold
}

.mid {
    vertical-align: middle;
    padding-bottom: 1px;
}

/***** THREAD TITLE *********/
.thread_view .titleBar, .pageContent .titleBar, #portalList h3 {
    border-bottom: 1px solid #eee;
    -webkit-border-radius: 5px; -moz-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px;
    margin: -3px auto;
    padding: 10px 10px;
    -webkit-box-shadow: 0 0 1px #ffffff inset; -moz-box-shadow: 0 0 1px #ffffff inset; -khtml-box-shadow: 0 0 1px #ffffff inset; box-shadow: 0 0 1px #ffffff inset;}

.thread_view .titleBar  #pageDescription , .thread_view .titleBar p {
    color: #0a0a0a;
}

.thread_view .titleBar #pageDescription a {
    color: #209A91;
    font-size:13px;
}

.thread_view .titleBar h1, .pageContent .titleBar h1 {
    color: #2b5f5b;
    font-size:20px;
    font-weight:bold;
}

.thread_view .titleBar h1, .pageContent .titleBar h1 {
    font-family: 'Droid Sans';
}



/* --- message.css --- */
.message
{
    border-top: 1px solid #eee;
    padding: 15px;
}

/* clearfix */ .messageList .message { zoom: 1; } .messageList .message:after { content: '.'; display: block; height: 0; clear: both; visibility: hidden; }

/*** Message block ***/

.message .messageInfo
{
    padding: 0 18px 0 18px;
    border-bottom-width: 0px;
    border-bottom-style: none;
    zoom: 1;
}

.message .newIndicator
{
    font-size: 11px;
    color: #176093;
    background: #6cb2e4 url('styles/default/xenforo/gradients/form-button-white-25px.png') repeat-x top;
    padding: 1px 5px;
    margin: -5px -5px 5px 5px;
    border: 1px solid #6cb2e4;
    -webkit-border-radius: 3px; -moz-border-radius: 3px; -khtml-border-radius: 3px; border-radius: 3px;
    -webkit-border-top-right-radius: 0px; -moz-border-radius-topright: 0px; -khtml-border-top-right-radius: 0px; border-top-right-radius: 0px;
    display: block;
    float: right;
    position: relative;
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0, 0.25); -moz-box-shadow: 1px 1px 3px rgba(0,0,0, 0.25); -khtml-box-shadow: 1px 1px 3px rgba(0,0,0, 0.25); box-shadow: 1px 1px 3px rgba(0,0,0, 0.25);


    margin-right: -20px;
}

.message .newIndicator span
{
    background-color: #6cb2e4;
    -webkit-border-top-right-radius: 3px; -moz-border-radius-topright: 3px; -khtml-border-top-right-radius: 3px; border-top-right-radius: 3px;
    position: absolute;
    top: -4px;
    right: -1px;
    width: 5px;
    height: 4px;

}

.message .messageContent
{
    padding: 0 15px;
    min-height: 100px;
    overflow: hidden;
    *zoom: 1;
}

.message .messageTextEndMarker
{
    height: 0;
    font-size: 0;
    overflow; hidden;
}

.message .editDate
{
    text-align: right;
    margin-top: 5px;
    font-size: 11px;
    color: rgb(150,150,150);
}

.message .signature
{
    font-size: 9pt;
    color: rgb(150,150,150);
    padding: 5px 0 0;
    margin-top: 5px;
    border-top: 1px dotted rgb(150,150,150);

}

.message .messageMeta
{
    font-size: 11px;
    padding: 15px 5px 10px;
    margin: 5px -5px -5px;
    border-top: 1px dotted rgb(150,150,150);
    overflow: hidden;
    zoom: 1;

}

.message .privateControls
{
    float: left;

}

.message .publicControls
{
    float: right;

}

.message .privateControls .item
{
    margin-right: 10px;
    float: left;
}

.message .privateControls .item:last-child
{
    margin-right: 0;
}

.message .publicControls .item
{
    margin-left: 10px;
    float: left;
}

.message .messageMeta .control
{

}

.message .messageMeta .control:focus
{

}

.message .messageMeta .control:hover
{

}

.message .messageMeta .control:active
{

}
/*** multiquote +/- ***/

.message .publicControls .MultiQuoteControl
{
    padding-left: 4px;
    padding-right: 4px;
    -webkit-border-radius: 2px; -moz-border-radius: 2px; -khtml-border-radius: 2px; border-radius: 2px;
    margin-left: 6px;
    margin-right: -4px;
}


.message .publicControls .MultiQuoteControl.active
{
    background-color: #d7edfc;
}

.messageNotices li
{
    font-size: 11px;
    background: #f9d9b0 url('styles/default/xenforo/gradients/form-button-white-25px.png') repeat-x top;
    padding: 5px;
    margin: 10px 0;
    border: 1px solid #f9d9b0;
    -webkit-border-radius: 5px; -moz-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px;
    line-height: 16px;

}

.messageNotices .icon
{
    float: right;
    width: 16px;
    height: 16px;
    background: url('styles/default/xenforo/xenforo-ui-sprite.png') no-repeat 1000px 1000px;
}

.messageNotices .warningNotice .icon { background-position: -48px -32px; }
.messageNotices .deletedNotice .icon { background-position: -64px -32px; }
.messageNotices .moderatedNotice .icon {background-position: -32px -16px; }

.message .likesSummary
{
    font-size: 14px;
    padding: 7px;
    margin-top: 15px;
    border: 1px solid #d7edfc;
    -webkit-border-radius: 5px; -moz-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px;

}

.message .messageText > *:first-child
{
    margin-top: 0;
}

/* inline moderation changes */

.InlineModChecked .messageUserBlock,
.InlineModChecked .messageInfo,
.InlineModChecked .messageNotices,
.InlineModChecked .bbCodeBlock .type,
.InlineModChecked .bbCodeBlock blockquote,
.InlineModChecked .attachedFiles .attachedFilesHeader,
.InlineModChecked .attachedFiles .attachmentList
{
    background: rgb(255, 255, 200) url('styles/default/xenforo/gradients/category-23px-light.png') repeat-x top;

}

.InlineModChecked .messageUserBlock div.avatarHolder,
.InlineModChecked .messageUserBlock .extraUserInfo
{
    background: transparent;
}

.InlineModChecked .messageUserBlock .arrow span
{
    border-left-color: rgb(255, 255, 200);
}

/* message list */

.messageList .newMessagesNotice
{
    margin: 10px auto;
    padding: 5px 10px;
    -webkit-border-radius: 5px; -moz-border-radius: 5px; -khtml-border-radius: 5px; border-radius: 5px;
    border: 1px solid #a5cae4;
    background: #d7edfc url(styles/default/xenforo/gradients/category-23px-light.png) repeat-x top;
    font-size: 11px;
}

/* deleted / ignored message placeholder */

.messageList .message.placeholder
{
}

.messageList .placeholder .placeholderContent
{
    overflow: hidden; zoom: 1;
    color: #65a5d1;
    font-size: 11px;
}

.messageList .placeholder a.avatar
{
    float: left;
    display: block;
}

.messageList .placeholder a.avatar img
{
    display: block;
    width: 32px;
    height: 32px;
}

.messageList .placeholder .privateControls
{
    margin-top: -5px;
}


/* messages remaining link */

.postsRemaining a,
a.postsRemaining
{
    font-size: 11px;
    color: rgb(150,150,150);
}


@media (max-width:800px)
{
    .Responsive .message .newIndicator
    {
        margin-right: 0;
        -webkit-border-top-right-radius: 3px; -moz-border-radius-topright: 3px; -khtml-border-top-right-radius: 3px; border-top-right-radius: 3px;
    }

    .Responsive .message .newIndicator span
    {
        display: none;
    }
}

@media (max-width:480px)
{
    .Responsive .message .messageInfo
    {
        margin-left: 0;
        padding: 0 10px;
    }

    .Responsive .message .messageContent
    {
        min-height: 0;
    }

    .Responsive .message .newIndicator
    {
        margin-right: -5px;
        margin-top: -16px;
    }

    .Responsive .message .postNumber,
    .Responsive .message .authorEnd
    {
        display: none;
    }

    .Responsive .message .signature
    {
        display: none;
    }

    .Responsive .messageList .placeholder a.avatar
    {
        margin-right: 10px;
    }
}


/* --- message_user_info.css --- */

.messageUserInfo
{
    color: rgb(200,200,200);
    float: left;
    width: 140px;
    left: 0px;
    top: 0px;
    position: relative;
}

.messageUserBlock
{
    -webkit-border-radius: 10px; -moz-border-radius: 10px; -khtml-border-radius: 10px; border-radius: 10px;
    text-align:center;


    position: relative;
}

.messageUserBlock div.avatarHolder
{
    padding-top: 15px;
    padding-bottom: 0px;
    -webkit-border-top-left-radius: 3px; -moz-border-radius-topleft: 3px; -khtml-border-top-left-radius: 3px; border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px; -moz-border-radius-topright: 3px; -khtml-border-top-right-radius: 3px; border-top-right-radius: 3px;

    position: relative;
}

.messageUserBlock div.avatarHolder .avatar
{
    display: block;
    font-size: 0;
}

.messageUserBlock div.avatarHolder .onlineMarker
{
    position: absolute;
    top: 14px;
    left: -1px;

    border: 7px solid transparent;
    border-top-color: rgb(127, 185, 0);
    border-left-color: rgb(127, 185, 0);
    -webkit-border-top-left-radius: 5px; -moz-border-radius-topleft: 5px; -khtml-border-top-left-radius: 5px; border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 3px; -moz-border-radius-topright: 3px; -khtml-border-top-right-radius: 3px; border-top-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px; -moz-border-radius-bottomleft: 3px; -khtml-border-bottom-left-radius: 3px; border-bottom-left-radius: 3px;

}

.messageUserBlock h3.userText
{
    margin-top: 0px;
}

.messageUserBlock .userBanner
{
    display: block;
    margin-bottom: 5px;
    margin-left: -6px;
    margin-right: -6px;
}

.messageUserBlock .userBanner:last-child
{
    margin-bottom: 0;
}

.messageUserBlock a.username
{
    font-weight: bold;
    font-size: 18px;
    color: rgb(204, 153, 0);
    text-decoration: underline;
    background-color: rgb(43, 95, 91);
    padding-top: 7px;
    margin: 0px 13px;
    border-bottom-style: none;
    display:block;
    line-height: 24px;
}

.messageUserBlock .userTitle
{
    font-size: 15px;
    color: rgb(225, 223, 217);
    background-color: rgb(43, 95, 91);
    padding-top: 0px;
    padding-bottom: 8px;
    margin: 0 13px 15px;
    border-style: none;
    border-top-style: none;
    border-right: 1px solid rgb(100,100,100);
    border-bottom: 1px solid rgb(100,100,100);
    border-left: 1px solid rgb(100,100,100);
    -webkit-border-bottom-right-radius: 15px; -moz-border-radius-bottomright: 15px; -khtml-border-bottom-right-radius: 15px; border-bottom-right-radius: 15px;
    -webkit-border-bottom-left-radius: 15px; -moz-border-radius-bottomleft: 15px; -khtml-border-bottom-left-radius: 15px; border-bottom-left-radius: 15px;
    display:block;
}

.messageUserBlock .extraUserInfo
{
    font-size: 12px;
    color: rgb(200,200,200);
    background-color: #032A46;
    padding: 7px 10px 10px;
    margin-top: 6px;

}

.messageUserBlock .extraUserInfo dl
{
    margin: 2px 0 0;
}

.messageUserBlock .extraUserInfo img
{
    max-width: 100%;
}

.messageUserBlock .arrow
{
    position: absolute;
    top: 10px;
    right: -10px;

    display: block;
    width: 0px;
    height: 0px;
    line-height: 0px;

    border: 10px solid transparent;
    border-left-color: ;
    -moz-border-left-colors: ;
    border-right: none;

    /* Hide from IE6 */
    _display: none;
}

.messageUserBlock .arrow span
{
    position: absolute;
    top: -10px;
    left: -11px;

    display: block;
    width: 0px;
    height: 0px;
    line-height: 0px;

    border: 10px solid transparent;
    border-left-color: #032A46;
    -moz-border-left-colors: #032A46;
    border-right: none;
}


@media (max-width:480px)
{
    .Responsive .messageUserInfo
    {
        float: none;
        width: auto;
    }

    .Responsive .messageUserBlock
    {
        overflow: hidden;
        margin-bottom: 5px;
        position: relative;
    }

    .Responsive .messageUserBlock div.avatarHolder
    {
        float: left;
        padding: 5px;
    }

    .Responsive .messageUserBlock div.avatarHolder .avatar img
    {
        width: 48px;
        height: 48px;
    }

    .Responsive .messageUserBlock div.avatarHolder .onlineMarker
    {
        top: 4px;
        left: 4px;
        border-width: 6px;
    }

    .Responsive .messageUserBlock h3.userText
    {
        margin-left: 64px;
    }

    .Responsive .messageUserBlock .userBanner
    {
        max-width: 150px;
        margin-left: 0;
        margin-right: 0;
        -webkit-border-top-left-radius: 3px; -moz-border-radius-topleft: 3px; -khtml-border-top-left-radius: 3px; border-top-left-radius: 3px;
        -webkit-border-top-right-radius: 3px; -moz-border-radius-topright: 3px; -khtml-border-top-right-radius: 3px; border-top-right-radius: 3px;
        position: static;
        display: inline-block;
    }

    .Responsive .messageUserBlock .userBanner span
    {
        display: none;
    }

    .Responsive .messageUserBlock .extraUserInfo
    {
        display: none;
    }

    .Responsive .messageUserBlock .arrow
    {
        display: none;
    }
}


/* ***************************** */
/* DL Name-Value Pairs */

.pairs dt,
.pairsInline dt,
.pairsRows dt,
.pairsColumns dt,
.pairsJustified dt
{
    color: rgb(150,150,150);
}

.pairsRows,
.pairsColumns,
.pairsJustified
{
    line-height: 1.5;
}

.pairsInline dl,
.pairsInline dt,
.pairsInline dd
{
    display: inline;
}

.pairsRows dt,
.pairsRows dd
{
    display: inline-block;
    vertical-align: top;

    *display: inline;
    *margin-right: 1ex;
    *zoom: 1;
}

dl.pairsColumns,
dl.pairsJustified,
.pairsColumns dl,
.pairsJustified dl
{
    overflow: hidden; zoom: 1;
}

.pairsColumns dt,
.pairsColumns dd
{
    float: left;
    width: 48%;
}

.pairsJustified dt
{
    float: left;
    max-width: 100%;
    margin-right: 5px;
}
.pairsJustified dd
{
    float: right;
    text-align: right;
    max-width: 100%
}



/**** CREDITS / BOOKMARKS *******/
.bookmarks, .transferSpeed {font-size:14px;margin-left:10px;background-color:#8B3A3A;padding:4px;-webkit-border-radius:4px; -moz-border-radius:4px; -khtml-border-radius:4px; border-radius:4px;-moz-border-radius:4px;}
a.transferSpeed, a.bookmarks  {color:#ffffff !important;}
.transferSpeed {margin-left:10px;background-color:#8C9566;padding:4px;-webkit-border-radius:4px; -moz-border-radius:4px; -khtml-border-radius:4px; border-radius:4px;-moz-border-radius:4px;}
a.transferSpeed  {color:#ffffff !important;}
.messageUserBlock .extraUserInfo dl.credits {
    border-top:1px dotted #cc9900;
    border-bottom:1px dotted #cc9900;
    margin-top:10px;
    display:inline-block;
    width:100%;
    line-height:34px;
}

.creditsFull dt {font-size:12px;float:left;text-align:left;color:#cc9900;}
.creditsFull dd {font-size:12px;float:right;color:#cc9900;}
.creditsFull a {font-size:12px;float:right;color:#cc9900;}
.creditsMobile dt {font-size:12px;float:left;text-align:left;color:#cc9900;}
.creditsMobile dd {font-size:12px;float:right;color:#cc9900;}

.bank {border-bottom:1px solid #cc9900;text-align:left;float:left;}

.CS3.comments {
    margin-bottom: 10px;
}

.CS3 .tab-bar {
    height: 43px;
    padding: 0 15px;
}

.club_list .tab-bar {
    border-bottom: 1px solid #ddd;
}

.CS3 .tab-bar-left {
    float: left;
}
.CS3 .tab-bar h3 {
    font-size: 16px;
    line-height: 20px;
    padding: 12px 0;
}

.CS3 .tab-bar-right {
    float: right;
}

.CS3 .tab-bar ul.tab {
    list-style-type: none;
    overflow: hidden;
}

.CS3 .tab-bar .tab li {
    float: left;
}

.CS3 .tab-bar ul.tab li.active a {
    color: #000;
    border-bottom: 2px solid #09f;
    padding-bottom: 10px;
}

.CS3 .tab-bar ul.tab a {
    display: block;
    font-size: 13px;
    font-weight: 700;
    color: #999;
    line-height: 20px;
    padding: 12px;
}

.CS3 a {
    color: #09f;
    text-decoration: none;
}

.CS3 .tab-bar ul.tab a {
    display: block;
    font-size: 13px;
    font-weight: 700;
    color: #999;
    line-height: 20px;
    padding: 12px;
}

ol {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-position: outside;
}

.searchBottom {
    padding: 0 15px;
}

.searchBottom .lst {
    margin-top: 12px;
}

.compPagination {
    overflow: hidden;
}

.compPagination a {
    border: 1px solid #fafafc;
    float: left;
    margin: 0 5px 0 0;
    padding: 2px 8px;
    text-align: center;
}

.compPagination strong {
    color: #3f3f3f;
    font-weight: bold;
    float: left;
    margin: 0 5px 0 0;
    padding: 2px 6px;
    border: 1px solid #e2e2e6;
    background-color: #fff;
}

.compPagination span {
    float: right;
    color: #757575;
    font-size: 11px;
    margin-right: 10px;
    margin-top: 3px;
}

.ui_header {
    border-bottom: 1px solid #eee;
    margin: 15px 15px 0px 15px;
    padding-bottom: 15px;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
    font-weight: 700;
    line-height: 1.2857em;
    text-transform: none;
    font-size: 20px;
    color: rgba(0,0,0,.87);
}